* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.fa {
    display: inline;
}

body {
    position: relative;
    width: 100%;
}

h1 {
    display: block;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size: 4rem;
}

main {
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

main h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.dog-search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.search_form {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
}

.search_form--label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-search-location {
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.1)
}

fieldset {
    width: 100%;
    margin: 20px auto 10px auto;
    padding: 20px 10px;
}

fieldset legend {
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    background-color: #CCFF66;
    color: #373F51;
    border: 1px solid #373F51;
}

.filters__sexAgeSize {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.filters__sexAgeSize select {
    margin: 0px 15px 0px 5px;
    border: 1px solid #CCFF66; 
}

.filters__breed {
    text-align: center;
}

.filters__breed div {
    display: inline-block;
}

.filters__breed div label, .filters__sexAgeSize label {
    margin-right: 5px;
}

.filters__breed div:first-child {
    margin-right: 20px;
}

.search-buttons {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

main button, .button-return, .button-petfinder {
    margin-top: 10px;
    padding: 5px;
    background-color: #CCFF66;
    border: 1px solid #373F51;
    border-radius: 2px;
    color: #373F51;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 30px;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-direction: column;
    background-color: #373F51;
    color: #4ECDC4;
}

footer a {
    color: #FBFBFF;
}

.shelter-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noEmail {
    text-decoration: none;
    color: black;
}

.email {
    color: black;
}

.results-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 80px;
    width: 100%;
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.results-shelters {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result-shelter {
    width: 100%;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5px;
    border-top: 1px solid grey;
}

.result-shelter i {
    margin-right: 2px;
    margin-left: 8px;
    color: #1F615A;
}

.result-shelter i:first-child {
    margin-left: 0px;
}

.result-shelter-name {
    display: inline-block;
    font-size: 1.1rem;
    padding-bottom: 2px;
}

.result-shelter-name:hover, .email:hover {
    cursor: pointer;
    color: #FF3F10;
}

.result-shelter-name-focus {        
    color: #FF3F10;
}

.result-dog {
    text-align: center;
    line-height: 1.5rem;
    margin: 10px auto 25px auto;
    padding: 20px 10px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #373F51;
}

.result-dog h3, .result-shelter h3 {
    font-size: 1.5rem;
    padding-bottom: 2px;
}

.result-dog i {
    margin-left: 8px;
    margin-right: 2px;
    color: #1F615A;
}

.result-dog p:last-child {
    text-align: left;
    width: 90%;
    max-height: 200px;
    overflow-x: scroll;
    margin: 10px auto;
    padding: 10px;
}

.js-image-block {
    width: 100%;
}

.hero {
    margin: 10px auto 20px auto;    
}
  
.hero img {
    height: 100%;
}
  
.thumbnails {
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
    height: 100px;
}
  
.thumbnail img:hover {
    box-shadow: 1px 1px 2px #FF3F10;
}
  
.thumbnail img {
    max-height: 100%;
    margin-right: 5px;
    margin-left: 5px;
}

.instagram {
      color: #1F615A;
}

@media screen and (min-width: 679px) {
    button:hover {
        cursor: pointer;
        background-color: #FF3F10;
        color: #FBFBFF;
    }
}
  
@media screen and (max-width: 678px) {
    h1 {
        font-size: 3rem;
    }
    
    .result-dog {
        width: 100%;
        overflow: scroll;
    }
    
    .hero img {
        width: 100%;
    }
    .search_form--label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
    }
    
    .search_form--label label, .shelter-search label {
        font-size: 1.2rem;
    }
    
    .filters__sexAgeSize {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .search-buttons {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .shelter-search form {
        display: block;
        text-align: center;
    }
    
    .shelter-search button {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    
    .hero img {
        margin: 10px auto;
    }
    
    footer {
        height: 35px;
        font-size: 12px;
    }
    
    footer span {
        display: none;
    }
}

@media screen and (max-width: 528px) {
    .filters__breed div:first-child {
        margin-right: 0px;
    }
}
  
